node_modules/
.env
.env.*
# For Terraform
# Local .terraform directories
**/.terraform/*
**/.terragrunt/*
**/.terragrunt-cache*
**/.terragrunt-cache/*
**/.terraform.lock.hcl
# .tfstate files
*.tfstate
*.tfstate.*
crash.log

override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
*.secrets
.idea
aws.secret